<header class="navbar-header-styled">
   <nav class="navbar-styled">
      <div class="navbar-homepage-logo">
         <a href="/">
            <img
               src="\..\../assets/yanik_logo.png"
               width="46px"
               height="46px"
            />
         </a>
      </div>
      <div class="navbar-links">
         <ol>
            <li class="fadedown-enter-done" style="transition-delay: 0ms">
               <a href="/#about"> About </a>
            </li>
            <li class="fadedown-enter-done" style="transition-delay: 100ms">
               <a> Experience </a>
            </li>
            <li class="fadedown-enter-done" style="transition-delay: 200ms">
               <a> Work </a>
            </li>
            <li class="fadedown-enter-done" style="transition-delay: 300ms">
               <a> Contact </a>
            </li>
         </ol>
         <div class="fadedown-enter-done" style="transition-delay: 400ms">
            <a
               class="resume-button"
               href="\..\../assets/Finance and Maths Resume - No Sensitive Info.pdf"
               target="_blank"
               rel="noopener noreferrer"
               >Resume
            </a>
         </div>
      </div>
   </nav>
</header>
