section {
    margin: 0px auto;
    padding: 100px 0px;
    max-width: 1000px;
}

.about-styled {
    max-width: 900px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px 0px 10px;
    font-weight: 600;
    color: var(--lightest-slate);
    line-height: 1.1;
}

.numbered-heading {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px, 5vw, var(--fz-heading));
    font-weight: 700;
    white-space: nowrap;
}

.numbered-heading::before {
    position: relative;
    bottom: -2px;
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-md), 3vw, var(--fz-xxl));
    font-weight: 400;
}

.numbered-heading::after {
    content: "";
    display: block;
    position: relative;
    bottom: -2px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--lightest-navy);
}

.about-styled .inner {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}

p {
    margin: 0px 0px 15px;
}

p>a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: var(--transition);
    color: var(--green);
}

p>a::after {
    content: "";
    display: block;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    position: relative;
    bottom: 0em;
    background-color: var(--green);
    transform-origin: bottom left;
    transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0.5;
}

p>a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.paragraph ul.skills-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
}

.paragraph ul.skills-list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: var(--font-mono);
    font-size: var(--fz-sm);
}

.paragraph ul.skills-list li::before {
    content: "▹";
    position: absolute;
    bottom: 2px;
    left: 0px;
    color: var(--green);
    font-size: var(--fz-md);
    line-height: 12px;
}

.picture {
    position: relative;
    max-width: 300px;
}

.picture .wrapper {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    display: block;
    position: relative;
    width: 100%;
    background-color: var(--green);
}

.picture .wrapper::before,
.picture .wrapper::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.picture .wrapper::before {
    top: 0px;
    left: 0px;
    background-color: var(--navy);
    mix-blend-mode: screen
}

.picture .wrapper::after {
    border: 2px solid var(--green);
    top: 20px;
    left: 20px;
    z-index: -1;
}

.second-wrapper {
    overflow: hidden;
}

.constrained-wrapper {
    display: inline-block;
}

img,
.second-wrapper {
    vertical-align: middle;
}

.picture .wrapper .second-wrapper {
    position: relative;
    border-radius: var(--border-radius);
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.picture .wrapper .second-wrapper:hover {
    mix-blend-mode: normal;
    filter: grayscale(0%) contrast(1);
    transform: translate(-5px -5px);
}

.picture .wrapper:hover::after {
    top: 15px;
    left: 15px;
}

.second-wrapper img {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    max-width: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
}

.second-wrapper .headshot-image {
    opacity: 0;
    transform: translateZ(0);
    transition: opacity .25s linear;
    will-change: opacity;
}

.headshot-image:hover {
    opacity: 0;
}