<section id="about" class="about-styled">
   <h2 class="numbered-heading">About Me</h2>
   <div class="inner">
      <div class="paragraph">
         <div>
            <p>
               Hello! My name is Yanik and I enjoy creating things that make a
               difference. My interest in software development started back in
               2015 when I did my first
               <a
                  href="https://my.uq.edu.au/programs-courses/course.html?course_code=csse1001"
                  rel="noopener noreferrer"
                  target="_blank"
                  >software engineering course</a
               >
               at university. I realised how much I enjoyed solving problems
               with computers and it caused me to change majors to mathematics
               and computer science.
            </p>
            <p>
               I'm now working at
               <a
                  href="https://www.macquarie.com.au/"
                  rel="noopener noreferrer"
                  target="_blank"
                  >Macquarie Group</a
               >
               as a software engineer in the graduate program. I'm fortunate to
               join the program as we're able to rotate between different teams
               across the whole bank.
            </p>
            <p>
               My main focus these days is to learn as many new technologies as
               I can through real world projects at my work, along with creating
               side projects that inspire me.
            </p>
            <p>Here are a few technologies I’ve been working with recently:</p>
         </div>
         <ul class="skills-list">
            <li>Angular</li>
            <li>C#</li>
            <li>JavaScript</li>
            <li>WPF</li>
            <li>TypeScript</li>
            <li>WinForms</li>
            <li>PowerShell</li>
            <li>DevExpress</li>
         </ul>
      </div>
      <div class="picture">
         <div class="wrapper">
            <div class="second-wrapper constrained-wrapper img">
               <div style="max-width: 500px; display: block">
                  <img
                     alt=""
                     role="presentation"
                     aria-hidden="true"
                     src="data:image/svg+xml;charset=utf-8,%3Csvg height='500' width='500' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3C/svg%3E"
                     style="max-width: 100%; display: block; position: static"
                  />
               </div>
               <picture>
                  <img
                     class="headshot-image"
                     width="500"
                     height="500"
                     sizes="(min-width: 500px) 500px, 100vw"
                     decoding="async"
                     src="\..\../assets/LAUBE, YANIK (500px).png"
                     alt="Headshot"
                     style="object-fit: cover; opacity: 1"
               /></picture>
            </div>
         </div>
      </div>
   </div>
</section>
