@media (max-width: 1080px) {
    .social-container-styled {
        left: 20px;
        right: auto;
    }
}

.social-container-styled {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: var(--light-slate);
}

.social-element-styled {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.social-element-styled li a {
    padding: 10px;
}

a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: var(--transition);
}

a:hover,
a:focus {
    transform: translateY(-3px);
    color: var(--green);
}

.social-element-styled li a svg {
    width: 20px;
    height: 20px;
}

svg.feather {
    fill: none;
}

svg {
    width: 100%;
    height: 100%;
    fill: currentcolor;
    vertical-align: middle;
}

.social-element-styled::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--light-slate);
}

.social-element-styled li:last-of-type {
    margin-bottom: 20px;
}