<section id="projects">
   <h2 class="numbered-heading">Some Of My Projects</h2>
   <ul class="projects-wrapper">
      <li class="project">
         <div class="project-contents">
            <p class="project-overline">Featured Project</p>
            <h3 class="project-title">
               <a
                  href="https://www.figma.com/file/ngLVLRcEQZi155uYZhSQpp/Starter-Design-System-(Community)?type=design&node-id=0%3A1&mode=design&t=sqDBHr4Beeo4dFaV-1"
                  rel="noopener noreferrer"
                  target="_blank"
                  >COVID-19 HUB</a
               >
            </h3>
            <div class="project-description">
               <p>
                  A website that would act as a hub for doctors and nurses at
                  hospitals around Australia to view information and perform
                  COVID-19 related tasks. Users were able to view bed supply
                  figures and projections, check patients in and out, view
                  custom built COVID-19 frequency maps of Australia, and manage
                  notifications and tasks. The website had permission level
                  based access to certain features through a login portal.
               </p>
            </div>
            <ul class="project-tech-list">
               <li>HTML</li>
               <li>JavaScript</li>
               <li>CSS</li>
               <li>Python</li>
               <li>Django</li>
            </ul>
            <div class="project-links">
               <a
                  href="https://github.com/markohpolo/deco3801"
                  aria-label="GitHub Link"
                  rel="noopener noreferrer"
                  target="_blank"
                  ><svg
                     xmlns="http://www.w3.org/2000/svg"
                     role="img"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     class="feather feather-github"
                  >
                     <title>GitHub</title>
                     <path
                        d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
                     ></path></svg
               ></a>
               <a
                  href="https://www.figma.com/file/ngLVLRcEQZi155uYZhSQpp/Starter-Design-System-(Community)?type=design&node-id=0%3A1&mode=design&t=sqDBHr4Beeo4dFaV-1"
                  aria-label="External Link"
                  class="external"
                  rel="noopener noreferrer"
                  target="_blank"
                  ><svg
                     xmlns="http://www.w3.org/2000/svg"
                     role="img"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     class="feather feather-external-link"
                  >
                     <title>External Link</title>
                     <path
                        d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                     ></path>
                     <polyline points="15 3 21 3 21 9"></polyline>
                     <line x1="10" y1="14" x2="21" y2="3"></line></svg
               ></a>
            </div>
         </div>
         <div class="project-image">
            <a
               href="https://www.figma.com/file/ngLVLRcEQZi155uYZhSQpp/Starter-Design-System-(Community)?type=design&node-id=0%3A1&mode=design&t=sqDBHr4Beeo4dFaV-1"
               rel="noopener noreferrer"
               target="_blank"
            >
               <div
                  class="gatsby-image-wrapper gatsby-image-wrapper-constrained img"
               >
                  <div style="max-width: 700px; display: block">
                     <img
                        alt=""
                        role="presentation"
                        aria-hidden="true"
                        src="data:image/svg+xml;charset=utf-8,%3Csvg height='350' width='545' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3C/svg%3E"
                        style="
                           max-width: 100%;
                           display: block;
                           position: static;
                        "
                     />
                  </div>
                  <picture>
                     <img
                        width="545"
                        height="350"
                        data-main-image
                        sizes="(min-width: 545px) 545px, 100vw"
                        data-placeholder-image=""
                        decoding="async"
                        src="\..\../assets/COVID HUB Homepage.png"
                        alt="COVID HUB"
                        style="opacity: 1; object-fit: cover"
                     />
                  </picture>
               </div>
            </a>
         </div>
      </li>

      <li class="project">
         <div class="project-contents">
            <p class="project-overline">Featured Project</p>
            <h3 class="project-title">
               <a
                  href="https://github.com/yanik-l/block-world"
                  rel="noopener noreferrer"
                  target="_blank"
                  >Block World</a
               >
            </h3>
            <div class="project-description">
               <p>
                  A Java project which utlises classes and files themed around a
                  blockworld. The GUI displays the game world and has options
                  for users to interact with the world by performing actions on
                  the world using control elements in the game window. The block
                  world is made up of a variety of different block types and a
                  character (builder) who can manipulate the blocks. The user
                  can also load and save world states.
               </p>
            </div>
            <ul class="project-tech-list">
               <li>Java</li>
               <li>VS Code</li>
            </ul>
            <div class="project-links">
               <a
                  href="https://github.com/yanik-l/block-world"
                  aria-label="GitHub Link"
                  rel="noopener noreferrer"
                  target="_blank"
                  ><svg
                     xmlns="http://www.w3.org/2000/svg"
                     role="img"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     class="feather feather-github"
                  >
                     <title>GitHub</title>
                     <path
                        d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
                     ></path></svg
               ></a>
               <a
                  href="https://github.com/yanik-l/block-world"
                  aria-label="External Link"
                  class="external"
                  rel="noopener noreferrer"
                  target="_blank"
                  ><svg
                     xmlns="http://www.w3.org/2000/svg"
                     role="img"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     class="feather feather-external-link"
                  >
                     <title>External Link</title>
                     <path
                        d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                     ></path>
                     <polyline points="15 3 21 3 21 9"></polyline>
                     <line x1="10" y1="14" x2="21" y2="3"></line></svg
               ></a>
            </div>
         </div>
         <div class="project-image">
            <a
               href="https://github.com/yanik-l/block-world"
               rel="noopener noreferrer"
               target="_blank"
            >
               <div
                  class="gatsby-image-wrapper gatsby-image-wrapper-constrained img"
               >
                  <div style="max-width: 700px; display: block">
                     <img
                        alt=""
                        role="presentation"
                        aria-hidden="true"
                        src="data:image/svg+xml;charset=utf-8,%3Csvg height='350' width='545' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3C/svg%3E"
                        style="
                           max-width: 100%;
                           display: block;
                           position: static;
                        "
                     />
                  </div>
                  <picture>
                     <img
                        width="545"
                        height="350"
                        data-main-image
                        sizes="(min-width: 545px) 545px, 100vw"
                        data-placeholder-image=""
                        decoding="async"
                        src="\..\../assets/Block World GUI.PNG"
                        alt="Block World"
                        style="opacity: 1; object-fit: cover"
                     />
                  </picture>
               </div>
            </a>
         </div>
      </li>

      <li class="project">
         <div class="project-contents">
            <p class="project-overline">Featured Project</p>
            <h3 class="project-title">
               <a
                  href="https://github.com/yanik-l/Snake-ATmega324A"
                  rel="noopener noreferrer"
                  target="_blank"
                  >Snake for a ATmega324A Controller</a
               >
            </h3>
            <div class="project-description">
               <p>
                  Created the game Snake for the AVR ATmega324A microcontroller.
                  It receives input from a number of sources and outputs
                  information to an LED matrix.
               </p>
               <p>
                  This version of Snake implements simple movement around the
                  display and food consumption. It also keeps track of your
                  score, has special types of food for bonus points, has an
                  increasing speed of play, sound effects, and the use of
                  controller buttons. The code interacts with the serial port
                  and the LED display and is run using Atmel Studio Environment.
               </p>
            </div>
            <ul class="project-tech-list">
               <li>C</li>
               <li>AVR ATmega324A</li>
               <li>Atmel Studio</li>
            </ul>
            <div class="project-links">
               <a
                  href="https://github.com/yanik-l/Snake-ATmega324A"
                  aria-label="GitHub Link"
                  rel="noopener noreferrer"
                  target="_blank"
                  ><svg
                     xmlns="http://www.w3.org/2000/svg"
                     role="img"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     class="feather feather-github"
                  >
                     <title>GitHub</title>
                     <path
                        d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
                     ></path></svg
               ></a>
               <a
                  href="https://github.com/yanik-l/Snake-ATmega324A"
                  aria-label="External Link"
                  class="external"
                  rel="noopener noreferrer"
                  target="_blank"
                  ><svg
                     xmlns="http://www.w3.org/2000/svg"
                     role="img"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     class="feather feather-external-link"
                  >
                     <title>External Link</title>
                     <path
                        d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                     ></path>
                     <polyline points="15 3 21 3 21 9"></polyline>
                     <line x1="10" y1="14" x2="21" y2="3"></line></svg
               ></a>
            </div>
         </div>
         <div class="project-image">
            <a
               href="https://github.com/yanik-l/Snake-ATmega324A"
               rel="noopener noreferrer"
               target="_blank"
            >
               <div
                  class="gatsby-image-wrapper gatsby-image-wrapper-constrained img"
               >
                  <div style="max-width: 700px; display: block">
                     <img
                        alt=""
                        role="presentation"
                        aria-hidden="true"
                        src="data:image/svg+xml;charset=utf-8,%3Csvg height='350' width='545' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3C/svg%3E"
                        style="
                           max-width: 100%;
                           display: block;
                           position: static;
                        "
                     />
                  </div>
                  <picture>
                     <img
                        width="545"
                        height="350"
                        data-main-image
                        sizes="(min-width: 545px) 545px, 100vw"
                        data-placeholder-image=""
                        decoding="async"
                        src="\..\../assets/Snake ATmega.jpg"
                        alt="Snake ATmega"
                        style="opacity: 1; object-fit: cover"
                     />
                  </picture>
               </div>
            </a>
         </div>
      </li>
   </ul>
</section>
