main {
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    padding: 200px 150px;
}

main.fillHeight {
    padding: 0px 150px;
}

@media (max-width: 1080px) {
    main {
        padding: 200px 100px;
    }
}

@media (max-width: 1080px) {
    main.fillHeight {
        padding: 0px 100px;
    }
}

.styled-main-container {
    counter-reset: section 0;
}