<section id="jobs" class="jobs-styled">
   <h2 class="numbered-heading">Where I've Worked at Macquarie Bank</h2>
   <div class="inner">
      <div role="tablist" aria-label="Job tabs" class="styled-tab-list">
         <button
            id="tab-0"
            role="tab"
            tabindex="0"
            aria-selected="true"
            aria-controls="panel-0"
            class="styled-tab-button-type-1 hover-colour"
            (click)="switchButtonStyles('tab-0')"
         >
            <span>MBO</span>
         </button>
         <button
            id="tab-1"
            role="tab"
            tabindex="-1"
            aria-selected="false"
            aria-controls="panel-1"
            class="styled-tab-button-type-2 hover-colour"
            (click)="switchButtonStyles('tab-1')"
         >
            <span>Car Loans</span>
         </button>
         <button
            id="tab-2"
            role="tab"
            tabindex="-1"
            aria-selected="false"
            aria-controls="panel-2"
            class="styled-tab-button-type-2 hover-colour"
            (click)="switchButtonStyles('tab-2')"
         >
            <span>Algorithmic Trading</span>
         </button>
         <div class="styled-highlight-bar" id="highlight-bar"></div>
      </div>
      <div class="job-tabs">
         <div
            id="panel-0"
            role="tabpanel"
            tabindex="0"
            aria-labelledby="tab-0"
            aria-hidden="false"
            class="job-panel"
         >
            <h3>
               <span>Front-End Engineer</span
               ><span class="company"
                  >&nbsp;@&nbsp;<a
                     href="https://www.macquarie.com.au/business-banking/macquarie-business-online.html"
                     class="inline-link"
                     rel="noopener noreferrer"
                     target="_blank"
                     >MBO</a
                  ></span
               >
            </h3>
            <p class="range">May 2023 - Present</p>
            <div>
               <ul>
                  <li>
                     Part of the Macquarie Business Online team, which is a
                     digital banking platform designed for businesses, providing
                     secure and convenient access to a range of financial
                     services and tools
                  </li>
                  <li>
                     Front-end development work on the platform using Angular
                     10, HTML, TypeScript, CSS
                  </li>
                  <li>
                     Continual testing of new features through the use of unit
                     tests and end-to-end tests
                  </li>
                  <li>
                     Worked in an Agile environment with daily stand-ups, kept
                     track of user stories in Jira & Bitbucket, and conducted
                     biweekly sprint planning and retrospectives
                  </li>
               </ul>
            </div>
         </div>

         <div
            id="panel-1"
            role="tabpanel"
            tabindex="-1"
            aria-labelledby="tab-1"
            aria-hidden="true"
            class="job-panel"
            hidden
         >
            <h3>
               <span>Front-End Engineer</span
               ><span class="company"
                  >&nbsp;@&nbsp;<a
                     href="https://www.macquarie.com.au/car-loans.html"
                     class="inline-link"
                     rel="noopener noreferrer"
                     target="_blank"
                     >Car Loans</a
                  ></span
               >
            </h3>
            <p class="range">Aug 2022 – May 2023</p>
            <div>
               <ul>
                  <li>
                     Developed and launched the new Digital Car Loans service
                     which offers users flexible financing options, enabling
                     users to easily purchase their desired vehicles through a
                     streamlined online application process
                  </li>
                  <li>
                     Front-end development work on the website using Angular 13,
                     HTML5, TypeScript, CSS
                  </li>
                  <li>
                     Implemented Google Analytics tagging to all elements in the
                     service to make tracking and analytics easier
                  </li>
                  <li>
                     Worked in an Agile environment with daily stand-ups, kept
                     track of user stories in Jira & Bitbucket, and conducted
                     biweekly sprint planning and retrospectives
                  </li>
               </ul>
            </div>
         </div>

         <div
            id="panel-2"
            role="tabpanel"
            tabindex="-1"
            aria-labelledby="tab-2"
            aria-hidden="true"
            class="job-panel"
            hidden
         >
            <h3>
               <span>Full-Stack Engineer</span
               ><span class="company"
                  >&nbsp;@&nbsp;<a
                     href="https://www.macquarie.com/au/en/about/company/macquarie-capital/equities.html"
                     class="inline-link"
                     rel="noopener noreferrer"
                     target="_blank"
                     >Algorithmic Trading</a
                  ></span
               >
            </h3>
            <p class="range1">Feb 2022 – Aug 2022: Asssociate</p>
            <p class="range">Dec 2020 – Feb 2021: Internship</p>
            <div>
               <ul>
                  <li>
                     Part of the algorithmic trading team in the Macquarie
                     Capital Group aligned with CGM Cash Equities, a leading
                     provider of Algorithmic Trading services in ANZ and all
                     Asian equity markets
                  </li>
                  <li>
                     Full stack development on a system named Helios which
                     manages algorithmic trading orders, using C#, .Net,
                     Microsoft Visual Studio, JetBrains Rider, Windows Forms,
                     and WPF
                  </li>
                  <li>
                     The service is used extensively by major global
                     institutional clients as well as internal Program Trading /
                     Cash trading desks
                  </li>
                  <li>
                     Implemented features requested by stakeholders in a
                     real-time, event-driven, distributed application
                     environment
                  </li>
                  <li>
                     Worked on all parts of the development cycle from
                     designing, coding, QA, deployment, and server maintenance
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>
