section {
    margin: 0px auto;
    padding: 100px 0px;
    max-width: 1000px;
}

.jobs-styled {
    max-width: 700px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px 0px 10px;
    font-weight: 600;
    color: var(--lightest-slate);
    line-height: 1.1;
}

.numbered-heading {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px, 5vw, var(--fz-heading));
    font-weight: 700;
    white-space: nowrap;
}

.numbered-heading::before {
    position: relative;
    bottom: -2px;
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-md), 3vw, var(--fz-xxl));
    font-weight: 400;
}

.numbered-heading::after {
    content: "";
    display: block;
    position: relative;
    bottom: -2px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--lightest-navy);
}

.jobs-styled .inner {
    display: flex;
}

@media (min-width: 700px) {
    .jobs-styled .inner {
        min-height: 340px;
    }
}

/**Probably do not need this**/
.styled-tab-list {
    position: relative;
    z-index: 3;
    width: max-content;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.styled-tab-button-type-1 {
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: var(--transition);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: var(--tab-height);
    padding: 0px 20px 2px;
    border-left: 2px solid var(--lightest-navy);
    background-color: transparent;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: var(--fz-sm);
    text-align: left;
    white-space: nowrap;
}

.styled-tab-button-type-2 {
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: var(--transition);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: var(--tab-height);
    padding: 0px 20px 2px;
    border-left: 2px solid var(--lightest-navy);
    background-color: transparent;
    color: var(--slate);
    font-family: var(--font-mono);
    font-size: var(--fz-sm);
    text-align: left;
    white-space: nowrap;
}

button {
    cursor: pointer;
    border: 0px;
    border-radius: 0px;
}

.hover-colour:hover,
.hover-colour:focus {
    background-color: var(--light-navy);
}

.styled-highlight-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 2px;
    height: var(--tab-height);
    border-radius: var(--border-radius);
    background: var(--green);
    transform: translateY(calc(0 * var(--tab-height)));
    transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.job-tabs {
    position: relative;
    width: 100%;
    margin-left: 20px;
}

.job-panel {
    width: 100%;
    height: auto;
    padding: 10px 5px;
}

.job-panel h3 {
    margin-bottom: 2px;
    font-size: var(--fz-xxl);
    font-weight: 500;
    line-height: 1.3;
}

.job-panel h3 .company {
    color: var(--green);
}

a.inline-link {
    display: inline-block;
    position: relative;
    color: var(--green);
    transition: var(--transition);
}

a.inline-link:hover,
a.inline-link:focus-visible {
    color: var(--green);
    outline: 0px;
}

a.inline-link::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    position: relative;
    bottom: 3px;
    background-color: var(--green);
    opacity: 0.5;
}

a.inline-link:hover::after,
a.inline-link:focus-visible::after {
    width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
    a.inline-link::after {
        transition: var(--transition);
    }
}

a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: var(--transition);
}

.job-panel .range1 {
    margin-bottom: 0px;
    color: var(--light-slate);
    font-family: var(--font-mono);
    font-size: var(--fz-sm);
    margin-top: 10px;
}

.job-panel .range {
    margin-bottom: 25px;
    color: var(--light-slate);
    font-family: var(--font-mono);
    font-size: var(--fz-sm);
    margin-top: 10px;
}

.job-panel ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-size: var(--fz-md);
}

.job-panel ul li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}

.job-panel ul li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: var(--green);
}