<section id="jobs" class="jobs-styled">
   <h2 class="numbered-heading">Where I've Worked In Macquarie</h2>
   <div class="inner">
      <div role="tablist" aria-label="Job tabs" class="styled-tab-list">
         <button
            id="tab-0"
            role="tab"
            tabindex="0"
            aria-selected="true"
            aria-controls="panel-0"
            class="styled-tab-button-type-1 hover-colour"
            (click)="switchButtonStyles('tab-0')"
         >
            <span>Upstatement</span>
         </button>
         <button
            id="tab-1"
            role="tab"
            tabindex="-1"
            aria-selected="false"
            aria-controls="panel-1"
            class="styled-tab-button-type-2 hover-colour"
            (click)="switchButtonStyles('tab-1')"
         >
            <span>Apple</span>
         </button>
         <button
            id="tab-2"
            role="tab"
            tabindex="-1"
            aria-selected="false"
            aria-controls="panel-2"
            class="styled-tab-button-type-2 hover-colour"
            (click)="switchButtonStyles('tab-2')"
         >
            <span>Scout Studio</span>
         </button>
         <div class="styled-highlight-bar" id="highlight-bar"></div>
      </div>
      <div class="job-tabs">
         <div
            id="panel-0"
            role="tabpanel"
            tabindex="0"
            aria-labelledby="tab-0"
            aria-hidden="false"
            class="job-panel-0"
         >
            <h3>
               <span>Lead Engineer</span
               ><span class="company"
                  >&nbsp;@&nbsp;<a
                     href="https://www.upstatement.com/"
                     class="inline-link"
                     rel="noopener noreferrer"
                     target="_blank"
                     >Upstatement</a
                  ></span
               >
            </h3>
            <p class="range">May 2018 - Present</p>
            <div>
               <ul>
                  <li>
                     Deliver high-quality, robust production code for a diverse
                     array of projects for clients including Harvard Business
                     School, Everytown for Gun Safety, Pratt Institute, Koala
                     Health, Vanderbilt University, The 19th News, and more
                  </li>
                  <li>
                     Work alongside creative directors to lead the research,
                     development, and architecture of technical solutions to
                     fulfill business requirements
                  </li>
                  <li>
                     Collaborate with designers, project managers, and other
                     engineers to transform creative concepts into production
                     realities for clients and stakeholders
                  </li>
                  <li>
                     Provide leadership within engineering department through
                     close collaboration, knowledge shares, and mentorship
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>
